// Theme colors
$app-bar-color: linear-gradient(135deg, #0f0f0f 0%, #434343 100%);
$side-bar-color: linear-gradient(180deg, #0f0f0f 0%, #434343 100%);
$table-header-color: linear-gradient(135deg, #1a237e 0%, #283593 100%);
